[Service]
ExecStart=
ExecStart=/opt/node-{{ node_version }}-linux-x64/bin/node /usr/lib/node_modules/strong-pm/bin/sl-pm.js --listen 8701 --base /var/lib/strong-pm --base-port 3000 --driver direct {% if strong_pm_skip_default_install %} --skip-default-install {% endif %}}